@import "../../variables.scss";

.list-group-item {
  padding: 15px 20px;
  border-bottom: 1px solid $main-color;

  &:last-child {
    border-bottom: none;
  }

  span {
    line-height: 35px;
    font-size: 20px;
    cursor: pointer;
    min-width: 550px;
  }

  input {
    line-height: 35px;
    font-size: 20px;
    text-align: center;
    border: 0;
  }

  button {
    width: 35px;
    height: 35px;
    margin: 3px;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .btn-cookie {
    color: $increase-color;
  }

  .btn-trash {
    color: $btn-trash-color;
    // color: var(--btn-trash-color);
  }

  .fa-star {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: $increase-color;
    transition: 0.3s all;
    transform: translateX(30px);
    opacity: 0;
  }

  &.like {
    .fa-star {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &.increase {

    .list-group-item-label,
    .list-group-item-input {
      color: $increase-color;
    }

    .btn-star {
      color: $increase-color;
    }
  }
}
